# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.env
.env.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Database
*.db
*.sqlite

uploads/*
!uploads/.gitkeep